.wrapper{
    overflow: hidden;
}
.img-icon {
    height: 4em;
}
.title_head { 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
    text-shadow: 1px 2px 3px #000000;
    padding: 64px 0px;
}
.title {
    margin-top: 3em;
    margin-bottom: 2em;
}
.borderline {
    border-top: 0.1em solid #ebebeb;
    border-bottom: 0.1em solid #ebebeb;
    padding: 16px 0px;
}
.centerize {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}
.margintop {
    margin-top: 2em;
}
.marginbottom {
    margin-bottom: 2em;
}
.explain { 
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    color: brown;
}
.caution { border: 0.1em solid brown; margin-bottom: 2em; }
.jumbotron { margin-bottom: 0em; }
.blacker::before {
    content: ' ';
    background-color: rgba(0,0,0,.2);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.main_background {
    background-position: top left;
    background-repeat: repeat;
    background-size: auto;
    color: white;

}
.area-title{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 2px 3px #000000;
    padding: 20px 10px;
    margin-top: 20px;
    position: relative;
}
.back {
    z-index:10;
}
.front{
    position: relative;
    z-index:20;
}
.addon span{
    display: inline-block;
}
.btn-invisible {
    margin-top: 20px;
    display: none;
}
.question {
    background-color: rgba(255,250,205,.6);
    font-family: vdl-admin, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: saddlebrown;
    text-shadow: 0px 0px 0px #000000;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    position: relative;
}
.second {
    display:none;
}
.third {
    display:none;
}
.perfect {
    display: none;
    position: absolute;
    width: auto;
    height: 8em;
    top: 10px;
    right: 15px;
}
.mark-success {
    display: none;
    position: absolute;
    width: auto;
    height: 8em;
    bottom: 10px;
    right: 15px;
}
.frozen-map1 {
    height:35vmax;
    width:auto;
    display: block;
    margin: auto;
}
.frozen-map2 {
    height:auto;
    width:32vmax;
    max-width: 100%;
    display: block;
    margin: auto;
}
.question > hr {
    background-color: saddlebrown;
    height: 1.5px;
}
.question > .hr-dot {
    background-color: rgba(0,0,0,0);
    border: 0;
    border-top: 2px dashed saddlebrown;
}
.show-window {
    background-color: rgba(255,255,255,1);
    margin-top: 1em;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
.new-inner-window{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index:501;
}
.new-inner-Success .new-inner-Failed {
    z-index:601;
}
.new-inner-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index:auto;
}
.new-inner-body{
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    z-index:auto;
    pointer-events: none;
}
.new-inner-main{
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 5%;
    z-index:auto;
    pointer-events: none;
}
.new-inner-content{
    position: relative;
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    z-index:auto;
    pointer-events: auto;
}
.ansbtn-selected{
    border: medium solid orange;
}
.new-inner-text{
    line-height: 1.8;
    padding: 0 0 25px;
    text-shadow: 0px 0px 0px #000000;
    color: brown;
}
.new-inner-text span{
    display: inline-block;
    text-align: left;
}
.new-inner-btn {
    margin-top: 10px;
}
.image-hint {
    width:100%;
    height:auto;
}
.forest-1-hint {
    -webkit-filter: brightness(1.5);
    -moz-filter: brightness(1.5);
    -o-filter: brightness(1.5);
    -ms-filter: brightness(1.5);
    filter: brightness(1.5);
}
.over-icon {
    position: absolute;
    width:11vmax;
    top: 0;
    left: 0;
    margin-top:20px;
    margin-left:-10px;
    max-height:100px;
    max-width: 100px;
}
.afterword {
    position: relative;
    background-color: white;
    color: rgb(66, 66, 66);
    width: 100%;
    margin-top: 20px;
    position: relative;
    text-shadow: 0px 0px 0px #000000;
}
.no-padding {
    padding-left:0;
    padding-right:0;
}
.no-margin{
    margin-left:0!important;
    margin-right:0!important;
}
.spacing{
    letter-spacing:-0.2em;
}
.afterword .icon{
    height: 5em;
}
.afterword .twitter-icon{
    height: 7.2vh;
    min-height: 24px;
}
.afterword .note-icon{
    width: 100%;
    max-width: 200px;
}
.afterword .pixiv-icon{
    width: 44%;
    min-height: 24px;
    min-width: 52px;
}
.afterword .job{
    background: linear-gradient(45deg, white 25% ,gray);
    color: white;
}
@media only screen and (max-width: 1200px) {
    /* 横幅が1200px以下の環境をスマホ画面とみなし一部cssを変更する */
    .title_head{
        background-repeat:repeat!important;
        background-position: center center!important;
    }
    .forest, .wasteland{
        background-repeat: repeat;
        background-size: cover;
        background-position: top left;
    }
    .area-title h1 {
        font-size: 7.5vw;
    }
    .question h2 {
        font-size: 5vw;
    }
    .show-window {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
    .perfect {
        width: 20vw;
        height: auto;
    }
    .container > .jumbotron > .row {
        height: 15vmax;
    }
    .new-inner-main{
        padding: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .title_head{
        background-position: center!important;
        background-repeat: no-repeat!important;
        background-size: cover!important;
    }
}