<html>
    {% load static %}
    <head>
        <title>導きLvシミュレータ</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
        <meta name="viewport" content="initial-scale=1">
        <script data-ad-client="ca-pub-5611268647889053" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <link rel="manifest" href="static/manifest.json">
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('sw.js').then(function() { console.log('Service Worker Registered'); });
                }
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color:#e3f2fd;">
            <a href="/" class="navbar-brand">導きLvシミュレータ</a>
            <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navmenu1"
                aria-controls="navmenu1"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu1">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/help">使い方・ＦＡＱ</a>
                    <a class="nav-item nav-link" href="/privacypolicy">プライバシーポリシー</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="row">
                <div class="col">
                    <p>要望・不具合報告は<a href="https://twitter.com/kura_tong">作者のTwitterアカウント</a>へ連絡をお願いします。</p>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>