{% load static %}
<html>
    <head>
        <title>導きLvシミュレータ</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
        <meta name="viewport" content="initial-scale=1">
        <script data-ad-client="ca-pub-5611268647889053" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="page-header">
                <h4><a href="/">導きLvシミュレータ</a></h4>
            </div>
            <div><a href="/help">使い方はこちら</a></div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="row">
                <div class="col">
                    <p>要望・不具合報告は<a href="https://twitter.com/kura_tong">作者のTwitterアカウント</a>へ連絡をお願いします。</p>
                </div>
            </div>
        </div>
    </body>
</html>