<html>
    {% load static %}
    <head>
        <title>導きLvシミュレータ</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css">
        <meta name="viewport" content="initial-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color:#e3f2fd;">
            <a href="/" class="navbar-brand">導きLvシミュレータ</a>
            <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navmenu1"
                aria-controls="navmenu1"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu1">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/help">使い方・ＦＡＱ</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <p>Ｑ：使い方がわからない</p>
                    <p>Ａ：有志(<a href="https://twitter.com/kuaty8944">@kuaty8944</a>)が作成して下さった説明用画像を参考にご利用ください。</p>
                    <img src="{% static 'image/howto.jpg' %}" class="img-fluid"/>
                </div>
                <div class="col-12">
                    <p>Ｑ：ありえない組み合わせ（例：枠増加させてないのに攻撃カスタム４）を入力しても検索結果が出てくる</p>
                    <p>Ａ：近日修正予定です。今後の修正で、ありえない組み合わせは弾くように修正する方針です。もう少しお待ち下さい…！</p>
                </div>
                <div class="col-12">
                    <p>Ｑ：ここから検索画面への戻り方がわからない</p>
                    <p>Ａ：一番上の『導きLvシミュレータ』か、<a href="/">戻るためのリンク</a>からどうぞ。</p>
                </div>
            </div>
        </div>
    </body>
</html>