{% extends 'guidance_emu/base.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <p>【当サイトで収集する利用者の情報について】</p>
        <p>当サイトでは個人を特定しない形で、利用者のIPアドレスや検索時の入力情報を収集する場合があります。</p>
        <p>収集した情報については本サイト内の障害対応や機能修正にのみ用いるものとし、その情報を外部に公開することはありません。</p>
    </div>
    <div class="col-12">
        <p>【広告の配信について】</p>
        <p>当サイトはGoogle及びGoogleのパートナー（第三者配信事業者）の提供する広告を設置しております。その広告配信にはCookieを使用し、当サイトへの過去のアクセス情報に基づいて広告を配信します。</p>
        <p><a href="https://support.google.com/searchads/answer/2839090?hl=ja&ref_topic=2473095">検索広告 360</a> を使用することにより、GoogleやGoogleのパートナーは当サイトや他のサイトへのアクセス情報に基づいて、適切な広告を当サイト上で利用者に表示できます。</p>
        <p>利用者は<a href="https://adssettings.google.com/u/0/authenticated?hl=ja">Googleアカウントの広告設定ページ</a>で、インタレスト ベースでの広告掲載に使用される 検索広告 360 を無効にできます。また <a href="http://www.aboutads.info/">aboutads.info</a> のページにアクセスして頂き、インタレスト ベースでの広告掲載に使用される第三者配信事業者のCookieを無効にできます。</p>
        <p>その他、Googleの広告におけるCookieの取り扱い詳細については、<a href="http://www.google.co.jp/policies/technologies/ads/">Googleのポリシーと規約ページ</a>をご覧ください。</p>
    </div>
</div>
{% endblock %}