{% extends 'guidance_emu/base.html' %}

{% block content %}
    <p><b>新機能追加</b>：モンスター以外の必要な素材の一覧を追加しました(2020/1/13)</p>
    <p>カスタム強化したい武器の詳細を入力してください</p>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                {{ searchName }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ searchUpg }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ searchRare }}
            </div>
        </div>
        <button type="submit" class="save btn btn-default">検索</button>
    </form>
    {% if resultLevel %}
    <div class="row">
        <div class="col-12">
            この武器を作るには、
            <ul>
                <li>森林地帯レベル　：{{ resultLevel.0 }}</li>
                <li>荒地地帯レベル　：{{ resultLevel.1 }}</li>
                <li>陸珊瑚地帯レベル：{{ resultLevel.2 }}</li>
                <li>瘴気地帯レベル　：{{ resultLevel.3 }}</li>
                <li>溶岩地帯レベル　：{{ resultLevel.4 }}</li>
                <li>氷雪地帯レベル　：{{ resultLevel.5 }}</li>
            </ul>
            がオススメです。
        </div>
    </div>
    {% endif %}
    <div class="table-responsive">
        {% if materialDict %}
        <p>以下はこの武器を作るために必要なモンスターの素材一覧です。</p>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>モンスター名</th>
                    <th>素材名</th>
                    <th>必要数</th>
                    <th>錬金可否</th>
                </tr>
            </thead>
            {% for material in materialDict %}
            <tr>
                <td>{{ material.name }}</td>
                <td>{{ material.material_name }}</td>
                <td>{{ material.mate_num }}</td>
                {% if material.isAlchemize == True %}
                    <td>○</td>
                {% else %}
                    <td>×</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <div class="table-responsive">
        {% if naturalDict %}
        <p>以下はこの武器を作るために必要な汎用素材の一覧です。</p>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>素材名</th>
                    <th>入手方法</th>
                    <th>必要数</th>
                </tr>
            </thead>
            <tbody>
                {% for natural in naturalDict %}
                <tr>
                    <td>{{ natural.name }}</td>
                    <td>{{ natural.obtain }}</td>
                    <td>{{ natural.mate_num }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}